<h1>Explore data</h1>
<br>
<select name="search type" id="search_type">
  <option disabled selected value> -- Search -- </option>
  <option value="by_text">By text</option>
  <option value="by_structure">By structure</option>
</select>