<h1>Explore data</h1>
<br>
<select name="search type" id="search_type">
  <!-- Default and disabled option -->
  <option disabled selected value> -- Search -- </option>
  <!-- Option for searching by text -->
  <option value="by_text">By text</option>
  <!-- Option for searching by structure -->
  <option value="by_structure">By structure</option>
  <!-- Option for using SPARQL search -->
  <option value="SPARQL">SPARQL</option>
</select>
