.content {
        margin: 20px;
    }

/*navbar*/
.navbar {background-color: green;}

/*figures*/
.node circle {
        fill: #fff;
        stroke: steelblue;
        stroke-width: 3px;
    }
.node text {
    font: 12px sans-serif;
}
.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

/*explore grid*/
tr {border-bottom: 2px solid #ddd;}
table {width: 100%;}

/*molecules*/
.molecules-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 10px;
}
.molecule-item {
    list-style-type: none;
    width: 25em; /* the element needs a fixed width (in px, em, %, etc) */
    overflow: hidden; /* make sure it hides the content that overflows */
    white-space: nowrap; /* don't break the line */
    text-overflow: ellipsis; /* give the beautiful '...' effect */
}
ul.molecules-list {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}
.molecules {
    display: none;
}
.element-grid {
        display: grid;
        grid-template-columns: repeat(3, auto);
}
.center {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    justify-content: center;
}
ul.element-list {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
  }

/*Letter list*/
.letter {
  cursor: pointer;
  padding: 0 5px;
}
.letter:hover {
  text-decoration: underline; 
}

/*organism*/
.organisms {
display: none;
}
.organism-item {
  list-style-type: none;
}
.organism-grid {
        display: grid;
        grid-template-columns: repeat(4, auto);
    }
ul.organism-list {
  columns: 4;
  -webkit-columns: 4;
  -moz-columns: 4;
}
.hidden{
    display: none;
    }

/*elementVisu*/
#molecule {
    display: inline-block;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    }
.organisms-grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
}
.organism-item {
    list-style-type: none;
    width: 25em; /* the element needs a fixed width (in px, em, %, etc) */
    overflow: hidden; /* make sure it hides the content that overflows */
    white-space: nowrap; /* don't break the line */
    text-overflow: ellipsis; /* give the beautiful '...' effect */
}
ul.organisms-list {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
}

#chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.stat_title {
    justify-content: center;
    align-items: center;
    color: darkmagenta;
}

/*exploreStructure*/
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 37%;
    margin-left: auto;
    margin-right: auto;
  }

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.slider {
    margin-right: 10%;
    margin-left: 10%;
    width: 80%;
    padding-left: 5%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0px 15px 40px #7E6D5766;
  }
.slider p {
    font-size: 20px;
    font-weight: 600;
    padding-left: 30px;
    color: black;
  }
.slider input[type="range"] {
    -webkit-appearance:none !important;
    width: 90%;
    height: 2px;
    background: black;
    border: none;
    outline: none;
  }
.slider input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    width: 30px;
    height:30px;
    background: black;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
  }
.slider input[type="range"]::-webkit-slider-thumb:hover {
    background: black;
  }

.jsme {
    margin-left: auto;
    margin-right: auto;
    }

.submit {
    color: white;
    background-color: green;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }

#loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('loader.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
    }

#chartdiv {
  width: 50%;
  height: 500px;
}
#chartdiv2 {
  width: 50%;
  height: 500px;
}