<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Digital Botanical Garden Initiative</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script type="text/javascript" language="javascript" src="../JSME_2022-09-26/jsme/jsme.nocache.js"></script>
  <link rel="stylesheet" href="https://jsme-editor.github.io/dist/jsme/jsa.css">
  <link rel="stylesheet" href="https://jsme-editor.github.io/dist/jsme/gwt/chrome/chrome.css">
  <link rel="stylesheet" href="https://jsme-editor.github.io/dist/jsme/gwt/chrome/mosaic.css">
  <script src="https://jsme-editor.github.io/dist/jsme/1C61E97966828F622DAAC75966E89735.cache.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="js/app.js" defer></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://d3js.org/d3.v6.min.js"></script>
  <script>
        //this function will be called after the JavaScriptApplet code has been loaded.
        function jsmeOnLoad() {
            jsmeApplet = new JSApplet.JSME("jsme_container", "380px", "340px");
        }
 </script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var dropDown = document.getElementById("search_type");
      dropDown.onchange = function () {
        var selectedValue = this.value;
        if (selectedValue === "by_text") {
          window.location.href = "/explore/text";
        } else if (selectedValue === "by_structure") {
          window.location.href = "/explore/structure";
        }
      }
    });
  </script>
  <style>
    .navbar {background-color: green;}
    .hidden{
    display: none;
    }
  </style>
</head>
<body>
    <%- include('./partials/nav.ejs') %>

    <%- include('./partials/exploreDropdown.ejs') %>

</body>
</html>