<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DBGI - Browse Dataset</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../css/style.css" />
  <link rel="shortcut icon" href="../assets/logo.png">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="js/app.js" defer></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://d3js.org/d3.v6.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var dropDown = document.getElementById("search_type");
      dropDown.onchange = function () {
        var selectedValue = this.value;
        if (selectedValue === "by_text") {
          window.location.href = "/explore/text";
        } else if (selectedValue === "by_structure") {
          window.location.href = "/explore/structure";
        } else if (selectedValue === "SPARQL") {
          window.location.href = "/explore/SPARQL"
      }
    }
  });
  </script>
</head>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="content">
      <%- include('./partials/exploreDropdown.ejs') %>

      <form action="/explore/SPARQL" method="POST">
          <textarea name="query" rows="10" cols="50" placeholder="Enter your SPARQL query"></textarea>
          <br>
          <button type="submit">Run Query</button>
        </form>
        
        <% if (typeof results !== 'undefined') { %>
          <pre><%- JSON.stringify(results, null, 2) %></pre>
        <% } %>
    </div>
</body>