<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DBGI - Browse Dataset</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="../app.js" defer></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://d3js.org/d3.v6.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var dropDown = document.getElementById("search_type");
      dropDown.onchange = function () {
        var selectedValue = this.value;
        if (selectedValue === "by_text") {
          window.location.href = "/explore/text";
        } else if (selectedValue === "by_structure") {
          window.location.href = "/explore/structure";
        } else if (selectedValue === "SPARQL") {
          window.location.href = "/explore/SPARQL"
      }
    }
  });
  </script>
  <script type="text/javascript" language="javascript" src="/JSME_2022-09-26/jsme/jsme.nocache.js"></script>
  <script>
      function updateSMILES(smile) {
        document.getElementById("smiles").value = smile;
      }
  </script>
  <style>
    .navbar {background-color: green;}
  </style>
</head>
<body>
    <%- include('./partials/nav.ejs') %>

    <%- include('./partials/exploreDropdown.ejs') %>

    <hr>

    <form action="/explore/structure" method="POST">
    <div name="jme" code="JME.class"  width=420 height=330>
      You have to enable JavaScript in your browser to use JSME !
    </div>
    <button type="submit" onclick="updateSMILES(document.jme.smiles());">Search</button>
    <input id="smiles" type="hidden" name="smiles" value="">
    <br>
    <div>Exact Search:
      <input type="checkbox" name="exact" value="true" checked>
    </div>
    </form>
    <br>
    <%- include('./partials/exploreTable.ejs') %>

</body>
</html>